.container {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-color: rgb(59, 203, 155);
}

body {
    margin: 0;
}

.left-game {
    display: flex;
    border-right: 2px solid black;
    justify-content: center;
    align-items: center;
    flex: 1.25;
    position: relative;
}

.right-game{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}

.money-box{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    width: 100%;
    font-weight: 1000;
    background-color: rgb(0, 255, 170);
    flex-direction: column;
    align-items: center;
}

.money-text, .wife-text, .property-text, .net-worth-text, .money-per-sec-text, .minutes-played {
    -webkit-text-stroke: 0.75px black;
}

.nav-bar {
    display: flex;
    background-color: aquamarine;
    border-bottom: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

canvas {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fg-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.buy-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-bottom: 2px solid black;
}

.buy-info > div {
    white-space: nowrap;
}

.buy-btn {
    margin: 10px;
    width: 125px;
    font-size: medium;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(to right, #39FF14, mediumseagreen);
    color: darkgreen;
    -webkit-text-stroke: 0.5px black;
    transition: transform 1s ease, box-shadow 1s ease;
}

.sell-btn {
    margin: 10px;
    width: 125px;
    font-size: medium;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #FF3131, rgb(189, 0, 0));
    color: darkred;
    -webkit-text-stroke: 0.5px black;
    transition: transform 1s ease, box-shadow 1s ease;
}

.buy-btn:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px green;
}

.sell-btn:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px red;
}

.buy-btn:active {
    transform: translateY(3px);
    box-shadow: 3px 3px 3px green;
}

.sell-btn:active {
    transform: translateY(3px);
    box-shadow: 3px 3px 3px red;
}

.buy-text {
    font-size: medium;
    font-weight: 1000;
    overflow-x: hidden;
}

.generate-money {
    font-size: xx-large;
    font-weight: 1000;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: linear-gradient(to bottom right, #CFFF04, gold);
    border-radius: 8px;
}

.generate-money > div {
    white-space: nowrap;
}

.generate-money:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px #8B8000;
}

.generate-money:active {
    transform: translateY(5px);
    box-shadow: 2px 2px 2px #8B8000;
}

.property {
    display: flex;
    border-bottom: 2px solid black;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-property {
    border-right: 2px solid black;
}

.left-property, .right-property {
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 5px;
    flex: 1;
    flex-direction: column;
}

/* history styling*/
.history-title {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: rgb(0, 255, 170);
}

.history-text-container {
    width: 100%;
    height: 300px;
    overflow: scroll;
}

.gamble-log-text-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.history-container, .gamble-log-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

.gamble-log-container {
    margin: 0;
}

/* event pop-up styling */
#overlay, #overlay2 {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: hsla(0, 0%, 0%, 0.50);
}

#overlay3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: hsla(0, 0%, 0%, 0.50);
    flex-wrap: wrap;
}


#overlay2 {
    z-index: 6;
}

#overlay3 {
    z-index: 7;
    gap: 75px;
    align-items: flex-start;
}

#overlay.show, #overlay2.show, #overlay3.show {
    display: flex;
}

#overlay.hidden, #overlay2.hidden, #overlay3.hidden {
    display: none;
}

.popup-box, .gamble-popup-box1, .gamble-popup-box2, .gamble-popup-box3 {
    display: flex;
    position: fixed;
    top: 50px;
    background-color: white;
    border: 4px solid black;
    border-radius: 16px;
    flex-direction: column;
    padding: 10px;
}

.gamble-popup-box1, .gamble-popup-box3 {
    position: relative;
    width: 422px;
    height: 645px;
}

.gamble-popup-box2{
    height: auto;
    position: relative;
}

.event-title, .gamble-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 5px;
    background-color: palevioletred;
    border-radius: 4px;
    border: 2px solid black;
}

.event-text, .gamble-text, .gamble2-container, .log-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: palevioletred;
    border-radius: 4px;
    padding: 10px;
    height: 75%;
    border: 2px solid black;
    font-size: 24px;
    text-align: center;
    white-space: pre-line;
}

.log-text {
    text-align: start;
    height: 100%;
}

.gamble-text, .gamble-numbers, .gamble2-container{
    height: auto;
    flex-direction: column;
    align-items: center;
}

.gamble-numbers {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-auto-rows: 50px;
    align-content: start;

    place-items: center;
}

.gamble-numbers > button:last-child {
    grid-column: 1 / -1;
    justify-self: center;
}

.gamble-numbers > button {
    width: 40px;
    height: 40px;
}

.option-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.accept-button {
    display: inline-block;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(to bottom right, #39FF14, mediumseagreen);
    transition: transform 1s ease, box-shadow 1s ease;
}

.acknowledge-button {
    display: inline-block;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 1s ease, box-shadow 1s ease;
}

.reject-button {
    display: inline-block;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(to bottom right, #FF3131, #ef4444);
    transition: transform 1s ease, box-shadow 1s ease;
}

.accept-button:hover {
    transform: scale(1.08);
    box-shadow: 5px 5px 5px darkgreen;
}

.acknowledge-button:hover {
    transform: scale(1.08);
    box-shadow: 5px 5px 5px black;
}

.reject-button:hover {
    transform: scale(1.08);
    box-shadow: 5px 5px 5px darkred;
}

.show-btn {
    visibility: visible;
}

.hide-btn {
    visibility: hidden;
}

/* images for when buying property */
.moon-bg {
    background-image: url("../assets/moon-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.mine-bg{
    background-image: url("../assets/space_mine_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.lemonade-img {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    bottom: 0px;
    background-image: url("../assets/Lemonade_stand.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

.food-img {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 160px;
    bottom: 0px;
    background-image: url("../assets/food_truck.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.store-img {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 90px;
    left: 350px;
    bottom: 0px;
    background-image: url("../assets/h_mart.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.restaurant-img {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 100px;
    left: 550px;
    bottom: 0px;
    background-image: url("../assets/restaraunt_img.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.apartment-img {
    z-index: 3;
    position: absolute;
    width: 350px;
    height: 350px;
    right: 0px;
    bottom: 0px;
    background-image: url("../assets/apartment_img.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.real-estate-img {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 400px;
    left: 50px;
    bottom: 210px;
    background-image: url("../assets/real_estate_img.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tech-img {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 400px;
    left: 200px;
    bottom: 180px;
    background-image: url("../assets/tech_startup_img.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.hedge-fund-img {
    z-index: 3;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 400px;
    bottom: 75px;
    background-image: url("../assets/hedge_fund_img.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.mps-text {
    color: gold;
    -webkit-text-stroke: 0.75px black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 18px;
}

/* gambling stuff*/
.gamble-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    border-radius: 8px;
    transition: transform 1s ease, box-shadow 1s ease;
    cursor: pointer;
    background: linear-gradient(to bottom right, orange, darkorange);
    font-family: cursive;
    color: brown;
    font-size: large;
    -webkit-text-stroke: 0.25px black;
}

.gamble-btn:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 3px rgb(190, 100, 0);
}

.gamble-btn:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 1px rgb(190, 100, 0);;
}

.add-money-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    flex-direction: row;
}

.add-money-btn, .remove-money-btn {
    display: flex;
    padding: 10px;
    background: linear-gradient(to bottom right, lime, green);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    width: 85px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-money-btn:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px darkgreen;
}

.add-money-btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 1px darkgreen;
}

.remove-money-btn {
    background: linear-gradient(to bottom right, red, darkred);
}

.remove-money-btn:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px darkred;
}

.remove-money-btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 2px darkred;
}

.gambling-stats {
    margin-bottom: 10px;
}

.exit-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.exit-btn > img {
    width: 40px;
    opacity: 40%;
}

.exit-btn:hover > img {
    opacity: 100%;
}

.gamble-int {
    font-family: 'Times New Roman', Times, serif;
    width: 150px;
    height: 50px;
    font-size: 32px;
    border-radius: 5px;
    background: linear-gradient(to bottom right, lime, darkgreen);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    margin-top: 20px;
}

.gamble-int:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 4px darkgreen;
}

.roulette-num-red, .roulette-num-black, .roulette-num-green {
    background: linear-gradient(to bottom right, crimson, darkred);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.gamble-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.gamble-color, .gamble-even-or-odd, .gamble-2-sec {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.red-btn, .black-btn, .even-btn, .odd-btn, .section-btn, .two-section-btn {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    width: 100px;
}

.section-btn {
    background: linear-gradient(to bottom right, yellow, gold);
}

.section-btn:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 4px #8B8000;
}

.section-btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 2px #8B8000;
}

.two-section-btn {
    background: linear-gradient(to bottom right, orange, #A34700);
}

.two-section-btn:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 4px #A34700;
}

.two-section-btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 2px #A34700;
}


.red-btn, .odd-btn {
    background: linear-gradient(to bottom right, crimson, darkred);
}

.roulette-num-green, .even-btn {
    background: linear-gradient(to bottom right, lime, darkgreen);
}

.roulette-num-black, .black-btn {
    background: linear-gradient(to bottom right, #353839, black);
    color: white;
}

.roulette-num-green:hover, .even-btn:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px darkgreen;
}

.roulette-num-green:active, .even-btn:active {
    transform: translate(2px);
    box-shadow: 2px 2px 2px darkgreen;
}

.roulette-num-black:hover, .black-btn:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px black;
}

.roulette-num-black:active, .black-btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 2px black;
}

.roulette-num-red:hover, .red-btn:hover, .odd-btn:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px darkred;
}

.roulette-num-red:active, .red-btn:active, .odd-btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 2px darkred;
}

.gain::before { 
    content: "+ "; color: lime; 
}
.loss::before { 
    content: "- "; color: red; 
}
.event::before { 
    content: "• "; color: gold; 
}

.divider {
    border: none;
    height: 2px;
    background-color: black;
    width: 100%;
}