<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <title>Document</title>
</head>
<div class="nav-bar">
    <h1><a href="../pages/landing.html" style="text-decoration: none; color: inherit; ">Money Frenzy</a></h1>
    <div>
        <a href="/" style="padding-right: 20px;">Search For Player</a>
        <a href="/" style="padding-right: 20px;">Leaderboard</a>
        <a href="../pages/about_me.html">About Me!</a>
    </div>
</div>
</html>